<!-- Start Breadcrumbs -->
<app-page-title title="Timeline" [breadcrumbItems]="breadCrumbItems"></app-page-title>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-5">Vertical Timeline</h4>
                <div class="">
                    <ul class="verti-timeline list-unstyled">
                        <li class="event-list">
                            <div class="event-date text-primar">03 May</div>
                            <h5 class="font-size-17">Timeline event One</h5>
                            <p class="text-muted">Perspitis unde omnis it voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae explicabo.</p>       
                        </li>
                        <li class="event-list">
                            <div class="event-date text-primar">08 May</div>
                            <h5 class="font-size-17">Timeline event Two</h5>
                            <p class="text-muted">At vero eos dignissimos ducimus quos
                                dolores chooses to enjoy pleasure that has no annoying.</p>
                                <div class="d-flex flex-wrap align-items-start event-img mt-3 gap-2">
                                    <img src="assets/images/small/img-2.jpg" alt="" class="img-fluid rounded" width="60">
                                    <img src="assets/images/small/img-5.jpg" alt="" class="img-fluid rounded" width="60">
                                </div>       
                        </li>
                        <li class="event-list">
                            <div class="event-date text-primar">11 May</div>
                            <h5 class="font-size-17">Timeline event Three</h5>
                            <p class="text-muted">Vivamus ultrices massa turna interdum eu. Pellentesque habitant morbi tristique eget justo sit amet est varius mollis et quis nisi. Suspendisse potenti. senectus et netus et malesuada fames ac turpis egestas.</p>       
                        </li>
                        <li class="event-list">
                            <div class="event-date text-primar">16 May</div>
                            <h5 class="font-size-17">Timeline event Four</h5>
                            <p class="text-muted mb-0">Printing and typesetting industry. been the industry'scrambled it make a type specimen book.</p>       
                            <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light mt-4">See
                                more detail
                            </button>
                        </li>
                        <li class="event-list">
                            <div class="event-date text-primar">27 May</div>
                            <h5 class="font-size-17">Timeline event Five</h5>
                            <p class="text-muted">Excepturi, obcaecati, quisquam id
                                molestias eaque asperiores voluptatibus cupiditate error
                                assumenda delectus odit
                                similique earum voluptatem 
                                Odit, itaque, deserunt corporis vero ipsum nisi repellat ... <a href="#">Read more</a></p>    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>