<!-- Start Breadcrumbs -->
<app-page-title title="Notifications" [breadcrumbItems]="breadCrumbItems"></app-page-title>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Bootstrap Toasts</h4>
                <div class="flex-shrink-0">
                    <div class="form-check form-switch form-switch-right form-switch-md">
                        <label for="bootstraptoast-showcode" class="form-label text-muted">Show
                            Code</label>
                        <input class="form-check-input code-switcher" type="checkbox" id="bootstraptoast-showcode"
                            (click)="ShowCode($event)">
                    </div>
                </div>
            </div><!-- end card header -->

            <div class="card-body">
                <p></p>
                <div class="live-preview">
                    <div class="row g-3">
                        <div class="col-xxl-6">
                            <h5 class="fs-14 mb-3">Default Toast</h5>
                            <p class="text-muted">Use <code>toast</code> class to set a default toast.</p>
                            <!-- Basic Toasts Example -->
                            @if(show){
                            <ngb-toast [autohide]="false" (hidden)="show=false">
                                <ng-template ngbToastHeader>
                                    <img src="assets/images/logo-sm.png" alt="" class="me-2" height="18">
                                    <span class="fw-semibold me-auto">Symox</span>
                                    <small>06 mins ago</small>
                                </ng-template>
                                Hello, world! This is a toast message.
                            </ngb-toast>
                            }
                            <div class="mt-4">
                                <h5 class="fs-14">Translucent</h5>
                                <p class="text-muted">Toasts are slightly translucent, too, so they
                                    blend over whatever
                                    they might appear over.</p>
                                <!-- Toasts Translucent -->
                                <div class="p-3 bg-light">
                                    @if(translucent){
                                    <ngb-toast [autohide]="false" (hidden)="translucent=false">
                                        <ng-template ngbToastHeader>
                                            <img src="assets/images/logo-sm.png" alt="" class="me-2" height="18">
                                            <span class="fw-semibold me-auto">Symox</span>
                                            <small>11 mins ago</small>
                                        </ng-template>
                                        Hello, world! This is a toast message.
                                    </ngb-toast>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-xxl-6">
                            <div>
                                <h5 class="fs-14">Stacking</h5>
                                <p class="text-muted">When you have multiple toasts, we default to
                                    vertically stacking
                                    them in a readable manner.</p>

                                <div class="p-3 bg-light">
                                    <!-- Toasts Stacking -->
                                    @if(stacking){
                                    <ngb-toast [autohide]="false" (hidden)="stacking=false">
                                        <ng-template ngbToastHeader>
                                            <img src="assets/images/logo-sm.png" class="rounded me-2" alt="..."
                                                height="20">
                                            <span class="fw-semibold me-auto">Symox</span>
                                            <small>Just now</small>
                                        </ng-template>
                                        See? Just like this.
                                    </ngb-toast>
                                    }
                                    @if(stackingsecond){
                                    <ngb-toast [autohide]="false" (hidden)="stackingsecond=false">
                                        <ng-template ngbToastHeader>
                                            <img src="assets/images/logo-sm.png" class="rounded me-2" alt="..."
                                                height="20">
                                            <span class="fw-semibold me-auto">Symox</span>
                                            <small>2 seconds ago</small>
                                        </ng-template>
                                        Heads up, toasts will stack automatically
                                    </ngb-toast>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                    <div class="mt-5">
                        <h5 class="fs-14">Placement</h5>
                        <div class="row g-3">
                            <div class="col-xxl-6">
                                <div>
                                    <p class="text-muted">Place toasts with custom CSS as you need them.
                                        The top right
                                        is often used
                                        for notifications, as is the top middle. If you’re only ever
                                        going to show one toast
                                        at a time, put
                                        the positioning styles right on the <code>.toast</code>.</p>

                                    <!-- Toasts Placement -->
                                    <div class="bg-light" aria-live="polite" aria-atomic="true"
                                        style="position: relative; min-height: 200px;">
                                        <div class="toast fade show" role="alert" aria-live="assertive"
                                            aria-atomic="true" data-bs-toggle="toast"
                                            style="position: absolute; top: 16px; right: 16px;">
                                            @if(placement){
                                            <ngb-toast [autohide]="false" (hidden)="placement=false">
                                                <ng-template ngbToastHeader>
                                                    <img src="assets/images/logo-sm.png" class="rounded me-2" alt="..."
                                                        height="20">
                                                    <span class="fw-semibold me-auto">Symox</span>
                                                    <small>06 mins ago</small>
                                                </ng-template>
                                                Hello, world! This is a toast message.
                                            </ngb-toast>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->

                            <div class="col-xxl-6">
                                <div>
                                    <p class="text-muted">You can also get fancy with flexbox utilities
                                        to align toasts
                                        horizontally
                                        and/or vertically.</p>

                                    <!-- Flexbox container for aligning the toasts -->
                                    <div aria-live="polite" aria-atomic="true"
                                        class="bg-light d-flex justify-content-center align-items-center"
                                        style="height: 200px;">
                                        @if(placementSec){
                                        <ngb-toast [autohide]="false" (hidden)="placementSec=false">
                                            <ng-template ngbToastHeader>
                                                <img src="assets/images/logo-sm.png" class="rounded me-2" alt="..."
                                                    height="20">
                                                <span class="fw-semibold me-auto">Symox</span>
                                                <small>06 mins ago</small>
                                            </ng-template>
                                            Hello, world! This is a toast message.
                                        </ngb-toast>
                                        }
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                </div>

                <div class="d-none code-view">
                    <pre class="language-markup" style="height: 275px;">
  <code>&lt;!-- Default Toast --&gt;
  &lt;div class=&quot;toast fade show&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot;
  data-bs-autohide=&quot;false&quot; aria-atomic=&quot;true&quot;&gt;
  &lt;div class=&quot;toast-header&quot;&gt;
  &lt;img src=&quot;assets/images/logo-sm.png&quot; class=&quot;rounded me-2&quot;
  alt=&quot;...&quot; height=&quot;20&quot;&gt;
  &lt;span class=&quot;fw-semibold me-auto&quot;&gt;Symox&lt;/span&gt;
  &lt;small&gt;06 mins ago&lt;/small&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-close&quot;
  data-bs-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class=&quot;toast-body&quot;&gt;
  Hello, world! This is a toast message.
  &lt;/div&gt;
  &lt;/div&gt;</code>
  
  <code>&lt;!-- Translucent Toast --&gt;
  &lt;div class=&quot;p-3 bg-light&quot;&gt;
  &lt;div class=&quot;toast fade show&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot;
  data-bs-autohide=&quot;false&quot; aria-atomic=&quot;true&quot;&gt;
  &lt;div class=&quot;toast-header&quot;&gt;
  &lt;img src=&quot;assets/images/logo-sm.png&quot; class=&quot;rounded me-2&quot;
  alt=&quot;...&quot; height=&quot;20&quot;&gt;
  &lt;span class=&quot;fw-semibold me-auto&quot;&gt;Symox&lt;/span&gt;
  &lt;small&gt;11 mins ago&lt;/small&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-close&quot;
  data-bs-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class=&quot;toast-body&quot;&gt;
  Hello, world! This is a toast message.
  &lt;/div&gt;
  &lt;/div&gt;
  &lt;/div&gt;</code>
  
  <code>&lt;!-- Stacking Toast --&gt;
  &lt;div class=&quot;toast fade show&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot;
  data-bs-autohide=&quot;false&quot; aria-atomic=&quot;true&quot;&gt;
  &lt;div class=&quot;toast-header&quot;&gt;
  &lt;img src=&quot;assets/images/logo-sm.png&quot; class=&quot;rounded me-2&quot;
  alt=&quot;...&quot; height=&quot;20&quot;&gt;
  &lt;span class=&quot;fw-semibold me-auto&quot;&gt;Symox&lt;/span&gt;
  &lt;small&gt;Just now&lt;/small&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-close&quot;
  data-bs-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class=&quot;toast-body&quot;&gt;
  See? Just like this.
  &lt;/div&gt;
  &lt;/div&gt;</code>
  
  <code>&lt;!-- Placement Toast --&gt;
  &lt;div class=&quot;bg-light&quot; aria-live=&quot;polite&quot; aria-atomic=&quot;true&quot;
  style=&quot;position: relative; min-height: 200px;&quot;&gt;
  &lt;div class=&quot;toast fade show&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot;
  aria-atomic=&quot;true&quot; data-bs-toggle=&quot;toast&quot;
  style=&quot;position: absolute; top: 16px; right: 16px;&quot;&gt;
  &lt;div class=&quot;toast-header&quot;&gt;
  &lt;img src=&quot;assets/images/logo-sm.png&quot;
  class=&quot;rounded me-2&quot; alt=&quot;...&quot; height=&quot;20&quot;&gt;
  &lt;span class=&quot;fw-semibold me-auto&quot;&gt;Symox&lt;/span&gt;
  &lt;small&gt;06 mins ago&lt;/small&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-close&quot;
  data-bs-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class=&quot;toast-body&quot;&gt;
  Hello, world! This is a toast message.
  &lt;/div&gt;
  &lt;/div&gt;
  &lt;/div&gt;</code>
  
  <code> &lt;!-- Flexbox container for aligning the toasts --&gt;
  &lt;div aria-live=&quot;polite&quot; aria-atomic=&quot;true&quot;
  class=&quot;bg-light d-flex justify-content-center align-items-center&quot;
  style=&quot;height: 200px;&quot;&gt;
  &lt;div class=&quot;toast fade show&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot;
  data-bs-autohide=&quot;false&quot; aria-atomic=&quot;true&quot;&gt;
  &lt;div class=&quot;toast-header&quot;&gt;
  &lt;img src=&quot;assets/images/logo-sm.png&quot;
  class=&quot;rounded me-2&quot; alt=&quot;...&quot; height=&quot;20&quot;&gt;
  &lt;span class=&quot;fw-semibold me-auto&quot;&gt;Symox&lt;/span&gt;
  &lt;small&gt;11 mins ago&lt;/small&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-close&quot;
  data-bs-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class=&quot;toast-body&quot;&gt;
  Hello, world! This is a toast message.
  &lt;/div&gt;
  &lt;/div&gt;
  &lt;/div&gt;</code></pre>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Default Toast</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Use <code>toast-border-</code> with below-mentioned color variation to set a toast
                    with border and icon.</p>
                <div>

                    <div class="position-relative">
                        <div class="hstack flex-wrap gap-2">
                            <button class="btn btn-primary" (click)="showStandard(standardTpl)"
                                ngbTooltip="Will disappear in 5s">Standard toast</button>
                            <button class="btn btn-success" (click)="showSuccess(successTpl)"
                                ngbTooltip="Will disappear in 10s">Success toast</button>
                            <button class="btn btn-danger" (click)="showDanger(dangerTpl)"
                                ngbTooltip="Will disappear in 15s">Danger toast</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body bg-light border-bottom border-top bg-opacity-25">
                <h5 class="fs-12 text-muted mb-0">HTML Preview</h5>
            </div>
            <div class="card-body">
                <pre class="language-markup" style="height: 310px;"><code>&lt;!-- Bordered With Icon Toast --&gt;
&lt;div class=&quot;hstack flex-wrap gap-2&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; id=&quot;borderedToast1Btn&quot; (click)=&quot;showStandard()&quot;&gt;Primary Toast&lt;/button&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-success&quot; id=&quot;borderedToast2Btn&quot; (click)=&quot;showSuccess()&quot;&gt;Success Toast&lt;/button&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-warning&quot; id=&quot;borderedTost3Btn&quot; (click)=&quot;showWarning()&quot;&gt;Warning Toast&lt;/button&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot; id=&quot;borderedToast4Btn&quot; (click)=&quot;showError()&quot;&gt;Danger Toast&lt;/button&gt;
&lt;/div&gt;

&lt;div style=&quot;z-index: 11&quot;&gt;
    &lt;div id=&quot;borderedToast1&quot; class=&quot;toast toast-border-primary overflow-hidden mt-3&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;
        &lt;div class=&quot;toast-body&quot;&gt;
            &lt;div class=&quot;d-flex align-items-center&quot;&gt;
                &lt;div class=&quot;flex-shrink-0 me-2&quot;&gt;
                    &lt;i class=&quot;ri-user-smile-line align-middle&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;div class=&quot;flex-grow-1&quot;&gt;
                    &lt;h6 class=&quot;mb-0&quot;&gt;Your application was successfully sent.&lt;/h6&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div style=&quot;z-index: 11&quot;&gt;
    &lt;div id=&quot;borderedToast2&quot; class=&quot;toast toast-border-success overflow-hidden mt-3&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;
        &lt;div class=&quot;toast-body&quot;&gt;
            &lt;div class=&quot;d-flex align-items-center&quot;&gt;
                &lt;div class=&quot;flex-shrink-0 me-2&quot;&gt;
                    &lt;i class=&quot;ri-checkbox-circle-fill align-middle&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;div class=&quot;flex-grow-1&quot;&gt;
                    &lt;h6 class=&quot;mb-0&quot;&gt;Yey! Everything worked!&lt;/h6&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div style=&quot;z-index: 11&quot;&gt;
    &lt;div id=&quot;borderedTost3&quot; class=&quot;toast toast-border-warning overflow-hidden mt-3&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;
        &lt;div class=&quot;toast-body&quot;&gt;
            &lt;div class=&quot;d-flex align-items-center&quot;&gt;
                &lt;div class=&quot;flex-shrink-0 me-2&quot;&gt;
                    &lt;i class=&quot;ri-notification-off-line align-middle&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;div class=&quot;flex-grow-1&quot;&gt;
                    &lt;h6 class=&quot;mb-0&quot;&gt;Something went wrong, try again.&lt;/h6&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div style=&quot;z-index: 11&quot;&gt;
    &lt;div id=&quot;borderedToast4&quot; class=&quot;toast toast-border-danger overflow-hidden mt-3&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;
        &lt;div class=&quot;toast-body&quot;&gt;
            &lt;div class=&quot;d-flex align-items-center&quot;&gt;
                &lt;div class=&quot;flex-shrink-0 me-2&quot;&gt;
                    &lt;i class=&quot;ri-alert-line align-middle&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;div class=&quot;flex-grow-1&quot;&gt;
                    &lt;h6 class=&quot;mb-0&quot;&gt;Something is very wrong! &lt;a href=&quot;javascript:void(0);&quot; class=&quot;text-decoration-underline&quot;&gt;See detailed report.&lt;/a&gt;&lt;/h6&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>
    </div>
    <!--end col-->
</div>


<ng-template #standardTpl> I'm a standard toast </ng-template>

<ng-template #successTpl> I'm a success toast </ng-template>

<ng-template #dangerTpl>
    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
        <path
            d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z" />
    </svg>
    Danger Danger !
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>